/**********************************
GENERAL
**********************************/

* {
	box-sizing: border-box;
}

body {
	padding: 1% 1% 0;
	font: 1em/1.5 Helvetica, Arial, sans-serif;
}

/**********************************
HEADER
**********************************/
header h1{
	padding: 0;
	margin: 0;
	color:black;
}

header{
	border-bottom: 2px solid black;
}


/**********************************
FOOTER
**********************************/



/**********************************
PAGE: INDEX
**********************************/
.blue{
	background-color: blue;
}

.black{
	background-color: black;
}

.centered{
	margin: 0 auto;
}


#date-form{
	padding: 10px 0;
	width: 300px;
}

#summary-form{
	padding: 10px 0;
	width: 600px;
}

#quality{
	display: none;
}

#iNotesCol{
	width: 50%;
}

#iQualityCol{
	width: 8%;
}

/**********************************
PAGE: SUMMARY
**********************************/
#sNotesCol{
	width: 75%;
}

#sQualityCol{
	width: 8%;
}

/**********************************
PAGE: CHART
**********************************/
.chart-container{
	padding: 20px 0 0;
	width: 970px;
	margin: 0 auto;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart-form{
	padding: 10px 0;
	width: 204px;
}

.highlight{
	fill: blue;
}

/**********************************
COLORS
**********************************/
a.glyphicon-remove:hover, .glyphicon-remove{
	color: red;
}


/**********************************
FLOAT CLEARFIX
**********************************/

.group:after {  /* Apply to parent container of floated elements */
	content: "";
	display: table;
	clear: both;
}
