/**********************************
GENERAL
**********************************/

* {
	box-sizing: border-box;
}

body {
	font: 1em/1.5 Helvetica, Arial, sans-serif;
}

/**********************************
HEADER
**********************************/



/**********************************
FOOTER
**********************************/



/**********************************
PAGE: INDEX
**********************************/



/**********************************
COLORS
**********************************/



/**********************************
FLOAT CLEARFIX
**********************************/

.group:after {  /* Apply to parent container of floated elements */
	content: "";
	display: table;
	clear: both;
}