
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="date-form" class="form form-inline centered">
              <label for="datePicker">Date:</label>
              <input id="datePicker" type="date" class="form-control" name="user_date">
              <a id="add-entry" data-toggle="modal" href="#addEntryModal" class="btn btn-success">Add Entry</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="table-responsive">
            <!-- Candidate for improvement, better ways of defining column width -->
            <table id="dayTable" class="table table-hover tablesorter">
              <THEAD>
                <tr>
                  <th id="iEditCol">Edit</th>
                  <th id="iPillarCol">Pillar</th>
                  <th id="iDatetimeCol">Datetime</th>
                  <th id="DurationCol">Duration</th>
                  <th id="iQualityCol">Quality</th>
                  <th id="iNotesCol">Notes</th>
                </tr>
              </THEAD>
              <TBODY>
              </TBODY>
            </table>
          </div>
        </div>
      </div>
    <div class="modal fade" id="addEntryModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Entry</h4>
          </div>
          <div class="modal-body">
            <form class="form" method="post" id="single-entry">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="pillar">Pillar:</label>
                    <select id="pillar" name="user_pillar" class="form-control">
                      <option value="ZAZEN">ZAZEN</option>
                      <option value="WORK">WORK</option>
                      <option value="SOCIAL">SOCIAL</option>
                      <option value="LEARN">LEARN</option>
                      <option value="BIKE">BIKE</option>
                      <option value="EAT WELL">EAT WELL</option>
                      <option value="SLACK">SLACK</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="datetime-local" id="date" name="user_date" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="duration">Duration:</label>
                    <input type="text" id="duration" name="user_duration" placeholder="HH:MM" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="notes">Notes:</label>
                    <input type="text" id="notes" name="user_notes" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                    <label>Quality:</label>
                    <label class="radio-inline"><input type="radio" id="yay" value="YAY" name="user_quality">Yay</label>
                    <label class="radio-inline"><input type="radio" id="solid" value="SOLID" name="user_quality">Solid</label>
                    <label class="radio-inline"><input type="radio" id="wrench" value="WRENCH" name="user_quality">Wrench</label>
                    <label class="radio-inline"><input type="radio" id="null" value="NULL" name="user_quality" checked="checked">Null</label>
                  </div>
              </div>
              <button type="submit" class="btn btn-success form-control">Add Entry</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    <select id="quality" name="user_pillar" class="form-control">
      <option value="YAY">YAY</option>
      <option value="SOLID">SOLID</option>
      <option value="WRENCH">WRENCH</option>
    </select>
