<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="summary-form" class="form form-inline centered">
        <label for="startSummaryPicker">Start Date:</label>
        <input id="startSummaryPicker" type="date" class="form-control" name="startSummary">
        <label for="endSummaryPicker">End Date:</label>
        <input id="endSummaryPicker" type="date" class="form-control" name="endSummary">
        <a id="go" href="#" class="btn btn-success">Go</a>
        <a id="add-entry" data-toggle="modal" href="#addSummaryModal" class="btn btn-success">Add Entry</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table id="summaryTable" class="table table-hover tablesorter">
        <THEAD>
          <tr>
            <th>Edit</th>
            <th>Date</th>
            <!-- Candidate for improvement, better ways of defining column width -->
            <th id="sQualityCol">Quality</th>
            <th id="sNotesCol">Notes</th>
          </tr>
        </THEAD>
        <TBODY>
        </TBODY>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="addSummaryModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Summary</h4>
      </div>
      <div class="modal-body">
        <form class="form" method="post" id="summary-entry">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="user_date" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="notes">Notes:</label>
                <input type="text" id="notes" name="user_notes" class="form-control">
              </div>
            </div>
            <div class="form-group">
                <label>Quality:</label>
                <label class="radio-inline"><input type="radio" id="yay" value="YAY" name="user_quality">Yay</label>
                <label class="radio-inline"><input type="radio" id="solid" value="SOLID" name="user_quality">Solid</label>
                <label class="radio-inline"><input type="radio" id="wrench" value="WRENCH" name="user_quality">Wrench</label>
                <label class="radio-inline"><input type="radio" id="null" value="NULL" name="user_quality" checked="checked">Null</label>
              </div>
          </div>
          <button type="submit" class="btn btn-success form-control">Add Summary</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- Candidate for improvement ...alternate method of acheiving same effect? -->
<select id="quality" name="user_pillar" class="form-control">
  <option value="YAY">YAY</option>
  <option value="SOLID">SOLID</option>
  <option value="WRENCH">WRENCH</option>
</select>
<script src="/js/app.min.js" charset="utf-8"></script>
