<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div style="display:flex;justify-content:center;align-items:center;">
      <div class="activity">
        <h3 style="margin: 15px auto; width: 20%; text-align: center;">Date</h3>
        <input
        style="display: block; margin: 0 auto; text-align: center;"
        type="date" ng-model="today" ng-change="newDay()">
        <br>
        <activity-chart data="activity.data" selected="selectedEvent"></activity-chart>
        <div>
          {{selectedEvent.event_date}}
          <br>
          {{selectedEvent.duration}}
          <br>
          {{selectedEvent.pillar}}
          <br>
          {{selectedEvent.notes}}
          <br>
          {{selectedEvent.quality}}
        </div>
      </div>
    </div>
  </div>
</div>
