/**********************************
GENERAL
**********************************/

* {
	box-sizing: border-box;
}

body {
	padding: 1% 1% 0;
	font: 1em/1.5 Helvetica, Arial, sans-serif;
}


/**********************************
HEADER
**********************************/
header h1{
	padding: 0;
	margin: 0;
	color:black;
}

header{
	border-bottom: 2px solid black;
}


/**********************************
FOOTER
**********************************/


/**********************************
PAGE: INDEX
**********************************/
.centered{
	margin: 0 auto;
} /*Candidate for removal*/


#date-form{
	padding: 10px 0;
	width: 300px;
}

#summary-form{
	padding: 10px 0;
	width: 600px;
}

#quality{
	display: none;
}

.tablesorter-header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.tablesorter-headerAsc {
	background-image: url(asc.gif);
	ackground-repeat: no-repeat;
	background-position: center right;
}
.tablesorter-headerDesc {
	background-image: url(desc.gif);
	ackground-repeat: no-repeat;
	background-position: center right;
}

.sorter-false{
	background:none;
}

#iEditCol{
	width: 5%;
}

#iPillarCol{
	width: 10%;
}

#iDatetimeCol{
	width: 17%;
}

#iDurationCol{
	width: 15%;
}

#iQualityCol{
	width: 11%;
}

#iNotesCol{
	width: 42%;
}


/**********************************
PAGE: SUMMARY
**********************************/
#sNotesCol{
	width: 65%;
}

#sQualityCol{
	width: 18%;
}


/**********************************
PAGE: CHART
**********************************/
.chart-container{
	padding: 20px 0 0;
	width: 970px;
	margin: 0 auto;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.activityaxis text {
  font: 10px sans-serif;
}

.activityaxis path,
.activityaxis line,
line.activitybound {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart-form{
	padding: 10px 0;
	width: 204px;
}

#leftPicker, #centerPicker, #rightPicker, #chart-title{
	display: inline-block;
}

#pillarsPicker{
	width: 500px;
	margin: 0 auto;
}

#back1{
	transform:rotateZ(180deg);
}

/**********************************
PAGE: DATA EXPLORER
**********************************/

#dataTable{
	margin-top: 5%;
}

.explorer-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

.explorer-form input.ng-valid.ng-touched {
	background-color: #78FA89;
}

/**********************************
PARTIAL: LINE CHART
**********************************/

.lineChart .axis path,
.lineChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lineChart .x.axis path {

}

.lineChart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/**********************************
COLORS
**********************************/
a.glyphicon-remove:hover, .glyphicon-remove{
	color: red;
}
